{% extends "::base.html.twig" %}

{% block title %}
    Editar usuario
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bootstrap/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('layoutadmin/styles.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
    <div id="ajax-loader">
        Actualizando registros
    </div>

    <style>
        @media (min-width: 768px) {
            .table {
                width: 50%;
            }

            .admin-list-actions.autosize {
                width: 50%;
            }
        }
    </style>

    {% include "::modal-delete.html.twig" %}

    <div>
        <div class="row">
            {% set userEditHref =   path('usuario_edit', {'id':entity.getId()}) %}
            {% set passEditHref =   path('usuario_edit_password', {'id':entity.getId()}) %}

            {{ include('::layout_modules_menu.html.twig',
            {
            'submenuTitle':'Editar usuario',
            'submenuHref': '#',
            'submenuOptions':
            {
            'Editar cuenta': userEditHref,
            'Cambiar contraseña': passEditHref,
            }
            }) }}

        </div>

        <div class="row" style="margin-top: 51px; ">
            <div class="col-sm-11" style="margin-left: 25px; margin-right: 100px;">
                {% include "::flashmessages.html.twig" %}
            </div>
        </div>

        <div id="container" style="margin-top: 10px;">
            {% block content %}
            {% endblock %}
        </div>

        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <div class="container">
                Sisconee | Editar usuario
            </div>
        </nav>

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}

