{% extends 'sisconeeAdministracionBundle:Default:layout_admin.html.twig' %}


{% block body -%}
    <h1>Servicio</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>CodCliente</th>
                <td>{{ entity.codClienteEE }}</td>
            </tr>
            <tr>
                <th>CodRutaFolio</th>
                <td>{{ entity.codRutaFolio }}</td>
            </tr>
            <tr>
                <th>PlanHorarioPico</th>
                <td>{{ entity.horarioPico }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{{ entity.activo }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('administracion_servicio') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('administracion_servicio_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
