{% if Listado|length >0 %}

        <h1>Organismo:{{ organismo }}</h1>
        <br>
        <p>Entidades/Servicios que han reportado consumo para la fecha: <p>

        <table class="table table-bordered table-hover table-striped">

            <tr>
                <th>Entidad</th>
                <th>Servicio</th>
                <th>Consumo reportado</th>
                <th>Consumo HP reportado</th>

            </tr>

            {% for e in Listado %}

                <tr>
                    <td>{{ e['NombreEntidad'] }}</td>
                    <td>{{ e['NombreServicio'] }}</td>
                    <td>{{ e['ConsumoReportado'] }}</td>
                    <td>{{ e['ConsumoHPReportado'] }}</td>

                </tr>


            {% endfor %}


        </table>
{% else %}

    <h1>No hay datos a mostrar</h1>


{% endif %}
